<section class="productos-section">
  <div class="filtro-buscador-container">
    <div class="filtro">
      <label for="filtroSecciones">  </label>
      <select id="filtroSecciones" [(ngModel)]="filtroSeccion">
        <option value="todos">Todos</option>
        <option value="ropa">Ropa</option>
        <option value="accesorios">Accesorios</option>
      </select>
    </div>
    <div class="box">
    <div class="container-1">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="search" id="search" placeholder="Buscar" />
    </div>
  </div>
  </div>
    <div class="galeria-productos">
      <div class="producto-miniatura" *ngFor="let producto of productos | filter: filtroSeccion: filtroBusqueda">
        <a [routerLink]="['/detalle-producto/', producto.id]">
          <img [src]="producto.imagen" alt="Producto">
        </a>
      </div>
    </div>
  </section>
  