.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.product-image {
    width: 100%;
    text-align: center;
}

.product-image img {
    margin: auto;
    width: 300px;
}

.product-info {
    margin-top: 10px;
    text-align: center;
}

.product-info h2 {
    font-size: 20px;
    font-weight: bold;
}

.product-info p {
    font-size: 14px;
    margin-top: 5px;
}

.social-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info div {
    margin-left: 10px;
    text-align: left;
}

.user-details {
    margin-left: 10px;
    text-align: left;
}

.user-name {
    font-weight: bold;
}

.reactions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.reactions button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reactions button i {
    font-size: 20px;
}

.reactions button span {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}

.reactions button.like {
    color: #29ABCA;
}

.reactions button.love {
    color: #F664AF;
}

.reactions button.dislike {
    color: #FF4A50;
}

.comments-section {
    margin-top: 10px;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
}

.comments-section h3 {
    font-size: 18px;
    font-weight: bold;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-details {
    text-align: left;
}

.comment-user {
    font-weight: bold;
}

.comment-text {
    margin-top: 5px;
}
