<div class="product-details-container row">
  <div class="product-image col-md-4 mx-auto">
    <img [src]="producto.imagen" alt="Producto">
  </div>
  <div class="product-info col-md-4 mx-auto">
    <h2>{{ producto.nombre }}</h2>
    <p>{{ producto.descripcion }}</p>
  </div>
  <div class="reactions col-md-4 mx-auto">
    <button (click)="handleLikeClick()" class="like">
      <i class="fas fa-heart"></i>
    </button>{{ likes }}
    <button (click)="handleLoveClick()" class="love">
      <i class="fas fa-paint-brush"></i>
    </button>{{ loves }}
    <button (click)="handleDislikeClick()" class="dislike">
      <i class="fas fa-star"></i>
    </button>{{ dislikes }}
  </div>
  <br>
  <hr>
  <div class="social-section col-md-9 mx-auto">
    <div class="user-info">
      <img src="/assets/img/perfil.jpg" alt="Avatar del usuario">
      <div class="user-details">
        <p class="user-name">Romina</p>
        <p class="user-info-text">Subido por: Romina</p>
        <p class="user-info-text">Seguidores: 129932</p>
      </div>
    </div>
    <div class="comments-section">
      <hr>
      <h3>Comentarios</h3>
      <div class="comment">
        <img src="/assets/img/perfil.jpg" alt="Avatar del usuario">
        <div class="comment-details">
          <p class="comment-user">Monica</p>
          <p class="comment-text">Muy bonito vestido, lo tengo igual, lo recomiendo</p>
        </div>
      </div>
      <div class="comment">
        <img src="/assets/img/perfil.jpg" alt="Avatar del usuario">
        <div class="comment-details">
          <p class="comment-user">Rebeca</p>
          <p class="comment-text">muy bueno</p>
        </div>
      </div>
      <div class="comment">
        <img src="/assets/img/perfil.jpg" alt="Avatar del usuario">
        <div class="comment-details">
          <p class="comment-user">Sofía</p>
          <p class="comment-text">me gusta</p>
        </div>
      </div>
    </div>
  </div>
</div>
