.foro {
    text-align: center;
    padding: 50px;
  }
  
  .foro h1{
    font-size: 24px;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .lista-hilos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .hilo {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    text-align: left;
  }
  
  .hilo a {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  .crear-hilo {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif
  }
  
  .crear-hilo h2 {
    font-size: 20px;
  }
  
  .crear-hilo form {
    display: flex;
    flex-direction: column;
  }
  
  .crear-hilo label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .crear-hilo input,
  .crear-hilo textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 2px solid #BD9F69;
  }
  
  .crear-hilo button {
    /* background-color: #007BFF; */
    /*color: white;*/
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* .crear-hilo button:hover {
    background-color: #0056b3;
  } */

  /* boton enviar hilo */

  .button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: #F7F7F7;
    color: #A0834E;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #BD9F69;
  }
  
  button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #BD9F69;
    box-shadow: 4px 5px 17px -4px #BD9F69;
  }
  
  button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #A0834E;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }
  
  button:hover::before {
    width: 250%;
  }

  /*Inputs*/

  .form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }