<section class="inicio-section">
  <div class="header">

    <img src="/assets/img/texto.png" alt="style" id="text-log">
    
  </div>
    <section class="ropa-section">
      <h2>Últimas Tendencias en Ropa de verano</h2>
      <div class="ropa-grid">
        <div class="ropa-item">
          <img src="/assets/img/ropa1.jpg" alt="Ropa 1">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa2.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa3.jpg" alt="Ropa 3">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa4.jpg" alt="Ropa 4">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa5.jpg" alt="Ropa 5">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa6.jpg" alt="Ropa 6">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa1.jpg" alt="Ropa 1">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa2.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa4.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa2.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa5.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa6.jpg" alt="Ropa 2">
        </div>
      </div>
    </section>
  
    <section class="ropa-section">
      <h2>Últimas Tendencias en Ropa de Invierno</h2>
      <div class="ropa-grid">
        <div class="ropa-item">
          <img src="/assets/img/ropa1.jpg" alt="Ropa 1">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa2.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa3.jpg" alt="Ropa 3">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa4.jpg" alt="Ropa 4">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa5.jpg" alt="Ropa 5">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa6.jpg" alt="Ropa 6">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa1.jpg" alt="Ropa 1">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa2.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa4.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa2.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa5.jpg" alt="Ropa 2">
        </div>
        <div class="ropa-item">
          <img src="/assets/img/ropa6.jpg" alt="Ropa 2">
        </div>
      </div>
    </section>
  </section>