<section class="inicio-section">
  <div class="header">
    <h1>Bienvenido a Armoire</h1>
    <p>Descubre las últimas tendencias en la industria de la moda.</p>
  </div>
  <ngb-carousel *ngIf="slides">
    <ng-template ngbSlide *ngFor="let slide of slides">
      <img [src]="slide.image" alt="{{ slide.title }}" style="width: 500px; height: 470px;">
      <div class="carousel-caption">
        <h3>{{ slide.title }}</h3>
      </div>
    </ng-template>
  </ngb-carousel>

    <div class="imagen-destacada">
      <img src="/assets/img/ropa1.jpg" alt="Imagen Destacada">
    </div>

    <div class="galeria-imagenes">
      <div class="imagen-miniatura">
        <img src="/assets/img/ropa2.jpg" alt="Miniatura 1">
      </div>
      <div class="imagen-miniatura">
        <img src="/assets/img/ropa3.jpg" alt="Miniatura 2">
      </div>
      <div class="imagen-miniatura">
        <img src="/assets/img/ropa4.jpg" alt="Miniatura 3">
      </div>
    </div>
  </section>